## Beginner Data Structures - The List

Hemant Thapa

Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas.

#### 1. CREATING A LIST

Lists are the simplest containers that are an integral part of the Python language. Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

In [300]:
string_list = ["Harry", "Vikram", "Dhanraj", "Shree", "Amir", "Roger", "Adesh"]
string_list

['Harry', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger', 'Adesh']

#### 2.INDEXING LIST

In order to access the list items refer to the index number. Use the index operator [ ] to access an item in a list. The index must be an integer. Nested lists are accessed using nested indexing.

In [301]:
string_list[0]

'Harry'

In [302]:
string_list[6]

'Adesh'

In Python, negative sequence indexes represent positions from the end of the array. Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.

In [303]:
string_list[-1]

'Adesh'

In [304]:
string_list[6] == string_list[-1]

True

#### 3. SLICING LIST

We can get substrings and sublists using a slice. In Python List, there are multiple ways to print the whole list with all the elements, but to print a specific range of elements from the list, we use the Slice operation.

In [314]:
string_list[0:1]

['Harry']

In [315]:
string_list[1:4]

['Vikram', 'Dhanraj', 'Shree']

In [324]:
string_list[0:-1]

['Harry', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger']

#### 4.CHANGING ELEMENTS IN A LIST

In [270]:
string_list[0] = "Hemant"

In [271]:
string_list

['Hemant', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger', 'Adesh']

In [272]:
string_list[0] = "Hemant Thapa"

In [273]:
string_list[-1] = "Adesh Thakur"

In [274]:
string_list

['Hemant Thapa', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger', 'Adesh Thakur']

#### 5. ADDING ELEMENTS IN A LIST

Elements can be added to the List by using the built-in append() function. Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. Tuples can also be added to the list with the use of the append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of the append() method.

In [275]:
string_list

['Hemant Thapa', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger', 'Adesh Thakur']

In [276]:
string_list.append("Suvish")

In [277]:
print(string_list)

['Hemant Thapa', 'Vikram', 'Dhanraj', 'Shree', 'Amir', 'Roger', 'Adesh Thakur', 'Suvish']

append() method only works for the addition of elements at the end of the List, for the addition of elements at the desired position, insert() method is used. Unlike append() which takes only one argument, the insert() method requires two arguments(position, value).

In [278]:
string_list.insert(0, "Harry world")
string_list

['Harry world',
 'Hemant Thapa',
 'Vikram',
 'Dhanraj',
 'Shree',
 'Amir',
 'Roger',
 'Adesh Thakur',
 'Suvish']

Other than append() and insert() methods, thereâ€™s one more method for the Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.

In [279]:
string_list.extend(["Madi"])

In [280]:
string_list

['Harry world',
 'Hemant Thapa',
 'Vikram',
 'Dhanraj',
 'Shree',
 'Amir',
 'Roger',
 'Adesh Thakur',
 'Suvish',
 'Madi']

#### 6. DELETING OR REMOVING ELEMENTS FROM A LIST

pop() function can also be used to remove and return an element from the list, but by default it removes only the last element of the list, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [281]:
string_list.pop()

'Madi'

In [282]:
string_list.pop(6)

'Roger'

In [283]:
string_list

['Harry world',
 'Hemant Thapa',
 'Vikram',
 'Dhanraj',
 'Shree',
 'Amir',
 'Adesh Thakur',
 'Suvish']

Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesnâ€™t exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

In [284]:
string_list.remove("Vikram")

In [285]:
string_list

['Harry world',
 'Hemant Thapa',
 'Dhanraj',
 'Shree',
 'Amir',
 'Adesh Thakur',
 'Suvish']

#### 7. LOOPING OVER LISTS

In [286]:
food = ["pizza","pasta","fish and chips", "chicken Burger"]
food_list = []
for i in food:
    food_list.append(i.upper())
food_list

['PIZZA', 'PASTA', 'FISH AND CHIPS', 'CHICKEN BURGER']

In [287]:
food = ["pizza","pasta","fish and chips", "chicken Burger"]
food_list = []
for i in food:
    food_list.append(i.title())
food_list

['Pizza', 'Pasta', 'Fish And Chips', 'Chicken Burger']

In [288]:
food = ["pizza","pasta","fish and chips", "chicken Burger"]
i = 0
while i<len(food):
    print(food[i])
    i+=1

pizza
pasta
fish and chips
chicken Burger

In [289]:
food = ["pizza","pasta","fish and chips", "chicken Burger"]
for i,j in enumerate (food):
    print(i+1,j)

1 pizza
2 pasta
3 fish and chips
4 chicken Burger

#### 8. CHECKING SOMETHING IN LIST

In [290]:
food = ["pizza","pasta","fish and chips", "chicken Burger"]
user_input = input("Enter for search: ").lower()
if user_input in food:
    print("\nThe item is available")
else:
    print("\nThe item isn't is available")

Enter for search:

The item isn't is available

#### 9. QUICK POPULATING  LISTS

In [291]:
number = [7]*5
number

[7, 7, 7, 7, 7]

In [292]:
number.append(12)
number

[7, 7, 7, 7, 7, 12]

In [293]:
var = []
var.append(number)
var

[[7, 7, 7, 7, 7, 12]]

In [294]:
name = ["Bob"]*4
name

['Bob', 'Bob', 'Bob', 'Bob']

In [295]:
var.append(name)
var

[[7, 7, 7, 7, 7, 12], ['Bob', 'Bob', 'Bob', 'Bob']]

In [296]:
num1 = 6
num2 = 9
num3 = [num1,num2]*2
num3

[6, 9, 6, 9]

In [297]:
var.append(num3)
var

[[7, 7, 7, 7, 7, 12], ['Bob', 'Bob', 'Bob', 'Bob'], [6, 9, 6, 9]]

#### 10. CASTING TO A LIST

In [298]:
string = "Hello world"
string_list = list(string)
string_list

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [299]:
num_list= list(range(0,11))
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 11. TASK 1

In [134]:
#friends_name list contains my friends First and Last name
friends_name = ["Sanket Kamble", "Shaina Arora","Alex Neil"]
#printing first friend from list
print(f"\nMy first friend in list: {friends_name[0]}")
#printing last friend from list
print(f"\nMy last friend in list: {friends_name[1]}")
#printing length of list
print(f"\nMy Length of the list: {len(friends_name)}")

#defining friends name as varibale and storing friends age according to their name
sanket_kamble = 25 #first friend age
shaina_arrora = 23 #second friend age
alex_neil = 71 #third  friend age
friends_ages = [sanket_kamble, shaina_arrora, alex_neil] #friends age list storing value of each friends
#prinitng result
print(f"\nFriends Ages: {friends_name[0]} is {friends_ages[0]}, {friends_name[1]} is {friends_ages[1]}, and {friends_name[2]} is {friends_ages[2]}")

My first friend in list: Sanket Kamble

My last friend in list: Shaina Arora

My Length of the list: 3

Friends Ages: Sanket Kamble is 25, Shaina Arora is 23, and Alex Neil is 71

#### 12. TASK 2

Python List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

newList = [ expression(element) for element in oldList if condition ]

In [147]:
#List comprehension with set range between 1 to 1000, for printing number from 1  to 1000
numbers = [x for x in range(1, 1000)]
print(f"\nNumber from 1 to 1000: {numbers}")#printing results

#List comprehension with set range between 1 to 1000,but if condition has used between 1 to 1000 only to print even number
even_numbers = [x for x in range(1,1000) if x % 2 == 0]
print(f"\nAll numbers in list are even: {even_numbers}")#printing result

Number from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

All numbers in list are even: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

#### 13. TASK 3

In [173]:
name_list = [] #name_list list data type will store list of name
while True: #while loop for running continous loop
    user_name = str(input("Enter user name: ")) #user_name varibale will take input from user
     #user_sensitivity will convert all small starting letter to capital like "harry" will be "Harry"
    #title() built in function has been used
    user_sensitivity = user_name.title() 
    if user_name == "John": #if user_name is equal to "John" than their will be break of while loop
        break
    else:
        name_list.append(user_sensitivity)#all names will be stored into name_List using append() built in function
print("Incorrect names: ",name_list)#printing result

Enter user name: harry
Enter user name: WORLD
Enter user name: Break
Enter user name: John
Incorrect names:  ['Harry', 'World', 'Break']